.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  margin: 5vh auto;
  flex-direction: column;
  box-shadow: 0 5px 10px 2px rgba(78, 78, 78, 0.9);
  border-radius: 1rem;
  padding: 1.5rem;
}

.header {
  padding-bottom: 0.5em;
  font-weight: bold;
  font-size: 1.5em;
  border-bottom: 2px solid #748ffc;
  color: #748ffc;
}
